agno
altair
annotated-types
anthropic
anyio
attrs
blinker
cachetools
certifi
cffi
charset-normalizer
click
contourpy
cycler
distro
dnspython
docstring_parser
email_validator
exa-py
fastapi
fastapi-cli
fonttools
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-genai
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
httpcore
httplib2
httptools
httpx
httpx-sse
hubspot-api-client
idna
iniconfig
Jinja2
jiter
jsonschema
jsonschema-specifications
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mcp
mdurl
narwhals
nest-asyncio
numpy
openai
packaging
pandas
patsy
pgvector
pillow
pluggy
proto-plus==1.25.0
protobuf==3.20.x
psycopg2-binary
psycopg-binary
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
pyparsing
pytest
pytest-mock
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
referencing
requests
rich
rich-toolkit
rpds-py
rsa
scipy
seaborn
shellingham
simplejson
six
smmap
sniffio
sounddevice
SQLAlchemy
sse-starlette
starlette
statsmodels
streamlit
tenacity
toml
tomli
tornado
tqdm
typer
typing_extensions
tzdata
uritemplate
urllib3
uvicorn
uvloop
watchdog
watchfiles
websockets
